<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css"> </head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% include ./partials/head %>
    <script>

    </script>
    </head>
  <body>
    <% if(blogs){ %>
      <form id="editForm" method="post" style="text-align: center;">
        <br>
        Blog Title: <br><br><input type="text" name="name" value="<%= blog.blogTitle %>"/><br><br>
        <textarea rows="4" cols="50" name="blogbody" form="editForm">
          <%= blog.blogText %>
        </textarea>
      <br><input type="submit" value="Save Blog" />
      </form>
    <% } else { %>
       <div class="">Nothing is here</div>
    <% } %>
  </body>
</html>
