<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css"> </head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% include ./partials/head %>
    </head>
  <body>
    <form action="/new" style="text-align: center;">
      <input type="submit" value="New entry" />
    </form>
    <% if(blogs){ %>
      <% blogs.forEach(function(el, index) { %>
          <h2 class="title" style="text-align: center;"><%= el.blogTitle %></h2>
          <div class="text" style="text-align: center;"><%= el.blogText %></div>
          <br>
          <div class="button-container">
          <form action="/edit/<%= el.id %>" style="text-align: center;">
            <input type="submit" value="Edit" />
          </form>
          <form id="delete" method="post">
            <button type="submit" name="id" value="<%= el.id %>">Delete</button>
          </form>
          </div>
          <hr style="width: 50%;">
      <% }); %>
    <% } else { %>
       <div class="">Nothing is here</div>
    <% } %>
  </body>
</html>
